
body {
    background-color: #d1d1d1;
}

.button {
    border: 2px outset #fff;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: #c0c0c0;
    padding: 4px;
    margin: 6px;
    transition: 1s;
}

.button:active {
    border: 2px inset #fff;
}