body {
  background-color: #e5e5e5;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 80px;
}

.navigation {
  padding: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.05);
}

.all-stations {
  color: #6a6a6a;
  cursor: pointer;
}

.now-playing {
  color: #bcbcbc;
  cursor: pointer;
  justify-self: end;
}

.now-playing:hover,
.all-stations:hover {
  color: #6a6a6a;
}
.stations {
  overflow: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}

.player {
  background: #404040;
}

.button {
  display: grid;
  grid-template-rows: 1em, 1fr, 1em;
  grid-gap: 10px;
  padding: 20px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

  text-align: start;
  border: none;

  cursor: pointer;
  transition: 150ms;
}

.button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
